            <ul class="list-unstyled">
              <li>
                <a href="https://github.com">
                  GitHub
                </a>
              </li>
              <li>
                <a href="http://www.yidake.com">
                  易达客
                </a>
              </li>
              <li>
                <a href="http://www.cyou100.com" target="_blank">
                  畅游世纪
                </a>
              </li>	
              <li>
                <a href="http://etui.yidake.com/Help/" target="_blank">
                  知识库
                </a>
              </li>				  
            </ul>
